<a href="https://colab.research.google.com/github/AngieCat26/MujeresDigitales/blob/main/Clase5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**CONTINUACIÓN DE CICLOS**


---
**Ciclo For - Bucle FOR**

In [1]:
for i in range(1,5):
  print(1)

1
1
1
1

Para dejar claro las partes que componen el bucle FOR, vamos a dejar claro las siguientes definiciones:

1. **Iterable**: son los objetos que pueden ser iterados, por ejemplo una lista, un valor tipo cadena, etc 
2. **Iterador**: Son objetos que hacen a referencia a un elemento (para hacer referencia a cada uno de los elementos hay un métpdp denominado "next" que permite hacer referencia a los elementos del conjunto 

**for  (variable) in (iterable):
        (Nloque código)


Algunos ejemplo de iterables en pyhton son las listas, cadenas, diccionarios, tuplas, etc.

¿Cómo saber que es iterable a la hora de progrmar?
Podemos darnos cuenta que es iterable usando la función isinstance().

In [6]:
from collections import Iterable #paquete iterable de collections (python 3.7)
lista = [1,2,3,4,5,6,7,8,9,0]
a = "computador"
b = 14
print(isinstance(lista, Iterable))
print(isinstance(a, Iterable))
print(isinstance(b, Iterable))

True
True
False

In [ ]:
a = 30 #arrojaría error porque no es iterable
for i in a :

Para entender los iteradores, es importante conocer la funcion *iter()*, esta función puede ser llamada sobre un objeto que sea iterable, y nos devolverá un iterador 

Ejemplo:

In [10]:
lista = [1,2,3,4,5,6,7,8,9,0]
ref = iter(lista)
print(ref)
print(type(ref))

<list_iterator object at 0x7f80da3037d0>
<class 'list_iterator'>

Al imprimir ref es un iterador, de la clase *list_iterador* hace referencia a la lista original y nos permite acceder a sus elementos con la función *next()*. Cada vez que llamemos a next() sobre ref, nos devuelve el siguiente elemento de la lista original 

si por ejemplo, quiero acceder al elemento 7, tendremos que llamar 7 veces a next()

In [13]:
lista = [1,2,3,4,5,6,7,8,9,0]
ref = iter(lista)
print(next(ref))
print(next(ref))
print(next(ref))
print(next(ref))
print(next(ref))
print(next(ref))
print(next(ref))
print(next(ref))
print(next(ref))
print(next(ref))

1
2
3
4
5
6
7
8
9
0

**TENER EN CUENTA**

Existen otro iteradores para las diferentes clases:
1. str_iterador para cadenas 
2. list_iterador para listas
3. set_iterador para conjuntos
4. dict_keyiterator para diccionarios

**FOR ANIDADOS**

---
Es posible anidas los , es decir ingresar uno dentro de otro, como lo vemos a continuación

In [15]:
#vamos a crear una lista de listas lo cual conforma una especie de matriz
#Recordemos que una matriz se compone de valores que se distribuyen el filan y columnas 
qa = [[1,2,3],
      [4,5,6], 
      [7,8,9]]
  
for i in qa :
  print(i)

for i in qa:
  for j in i:
    print(j)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
1
2
3
4
5
6
7
8
9

Si queremos acceder a cada elemento individualmente, se procede a realizar un bucle de FOR anidado. Es decir , un for se encargará de iterar las columnas y el otro, las filas

In [16]:
#Otra forma de utilizar solo el for es la iteración al revés. Es decir se puede iterar la lista desde ek ultimo al primer elemento
lista = [1,2,3,4,5,6,7,8,9,0]
for i in lista[::-1]:
  print(i)

0
9
8
7
6
5
4
3
2
1

In [18]:
lista = [1,2,3,4,5,6,7,8,9,0]
for i in lista[::2]:
  print(i)
print("----------------------")
a = "computador"
for i in a [::4]:
  print(i)

1
3
5
7
9
----------------------
c
u
o

In [20]:
#Usando rangos 
for i in range(10):
  print(i)
#El range( genera una secuencia de numero que van desde 0 por defecto 
#El número que sepasa como parámetro menos 2.

#*Estructura: rage(inicio, fin, salto)

#Observemos un truco con el range
print(list(range(2,10,2))) #convertir un rango en una lista

0
1
2
3
4
5
6
7
8
9
[2, 4, 6, 8]

**LISTA DE COMPRENSIÓN**


---
EStas nor permite crear listas de elementos en una sola linea de código
Ejemplo: Crear una lista de las potencias a la 3 de los números impares de 0 a 9

In [22]:
tres = [i**3 for i in range(1,10,2)]
print(tres)

tres = []
for i in range(1,10,2):
  tres.append(i**3)
  print(i)

[1, 27, 125, 343, 729]
1
3
5
7
9

In [23]:
s = [i for i in range(10)]
print(s)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
lwa = [5,10,15,20,25,30]
lwa2 = [ 1/5 for i in lwa]
print(lwa2)

[0.2, 0.2, 0.2, 0.2, 0.2, 0.2]

In [27]:
pera = "mamá ama a ema"
pera2 = [i for i in pera if i== "a"]
print(pera2)

['a', 'a', 'a', 'a', 'a']