<a href="https://colab.research.google.com/github/AngieCat26/MujeresDigitales/blob/main/Clase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introdcuccion**
--

para manejar un codigo limpio en python:
podemos eguri las recomendaciones
1. Manejar siempre en minuscula
2. se le puede añadir numeros
3. Aparecer errores si no estan seguidos la declaracion de la variable con el numero asignado, es decir. Ejemplo : ana1(correcto) ana 1(incorrecto)

En python hay varios tipos d datos compuestos y estan disponibles por defecto en los interpretes.
**¿de que tipos?**

1. Numericos
2. Secuencias
3. Mapeos
4. Conjuntos usados para agrupar otros valores

**Diferencia entre constante y variable**
en matematica llamamos constante a una magnitud que no cambia con el paso del tiempo.
Ejemplo: compatibilidad:Gastos fijos_Muebles de oficina
Ejemplo 2: 6

por otro lado el concepto de variable, como cantidad que es susceptible a tomar distintos valores numericos.
**Ejemplo**

**Tipos de datos**
---
**Enteros:**
son los numeros que no tienen decimales
pueden ser positivos y negativos

In [ ]:
a = int(3.964)
print(a)

In [ ]:
b=long(3)
print(b,type(b))

el comando int es para hacer alsion a numeros enteros.A parte el comando float permite valores con decimales.

In [ ]:
b=float(8.23)
print(b)

Las cadenas son texto encerrado entre comillas (simples o dobles) y se pueden conformar de diferentes caracteres (Numericos, Albeticos, Especiales #$+*%). Tener en cuenta, las cadenasadmiten operadores como la suma y la resta. (Variable String)

In [ ]:
val1="Hola mundo"
print(val1)

val2="Ana"
print(val2)

In [ ]:
n="Aprender"
z="python"
w="Aprender python"
nz=n+""+z
print(w) 

q="5"
p="2"
b=int(q)
c=int(p)
print(b-c)

**Tipo Bolleanos**

---
Este tipo de variable solo tendra un valor de Verdadero o falso.
**Nota:**
son valores muy usados en condiciones y bucless.

In [ ]:
lola = False
print("El valor es verdadero:",lola," el cual es de tipo", type(lola))

In [ ]:
lola = True
print("El valor es verdadero:",lola," el cual es de tipo", type(lola))

```
# Tiene formato de código
```

python cuenta con tipos de datos que admiten colecciones:
1. Listas
2. tuplas
3. diccionarios

**Tipos de conjuntoss:**

son una conexion de datos sin elementos que se repiten:

In [ ]:
fru='pera','manzana','naranja'
color='morado', 'blanco', 'azul'
print(fru,color)

**Tipo listas**

---
son listas l que almacenan vectores. 
las listan empiezan desde la posicion 0 
Ejemplo de lista en python:

In [ ]:
ines=['5','uva','lila','perro','celular','micro','botella','tetero','10']
print(ines)
fe=ines[1]
fe = ines [0:2]  
print(fe)

**Tipo Tuplas**

---
Es una lista que no se puede modificar despue de la creacion de esta:
Tuplas anidadas: Agrupacion(Tuplas).

In [ ]:
tupla=23,28,'hola'
print(tupla)
otra=tupla,(1,2,3,4)
print(otra)

**Tipo Diccionarios**

---
Define los datos uno a uno entre un campo(ID.Identificador-Clave) y un valor:

In [ ]:
datos_b={
    "nombres":"Diana",
    "apellido":"Perea",
    "Cedula": "2345671",
    "estdo_civil": "Viuda",
    "lugar _nacimiento":"Neiva",
    "Fecha_nacimiento":"24/12/1980",
}
print("ID del diccionario", datos_b.keys())
print("ID del diccionario", datos_b.values())
print("ID del diccionario", datos_b.items())
print("cedula de ciudadania:", datos_b['fecha de nacimiento'])

**Ejemplo practico (Caracteristicas de los carros)**

In [ ]:
carros_0={}
carros_0['tam']='grande'
carros_0['color']='negro'
carros_0['marca']='Renault'
carros_0['precio']=60

carros_1={}
carros_1['tam']='pequeño'
carros_1['color']='blanco'
carros_1['marca']='chevrolet'
carros_1['precio']=37
print(carros_0)
print(carros_1)

compra0= carros_0['precio'] 
compra1=carros_1['precio']
compratotal=compra0 + compra1

print("la compra total fue de:", compratotal)