<a href="https://colab.research.google.com/github/AngieCat26/MujeresDigitales/blob/main/ejercicio1Clase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**ENTEROS**

In [2]:
x = int(4.66)
print(x)

4

In [6]:
y = int(1.3526)
print (y)

1

**TIPO CADENA**

In [7]:
x = "hola mundo"
print (x)

hola mundo

In [8]:
n="hola!"
z="soy Katherin"
w="Aprender python"
nz=n+""+z
print(nz)

hola!soy Katherin
3

**TIPO BOLLEANO**

In [9]:
x = True
print("El valor es ", x ," la variable es de tipo", type(x))

El valor es  True  la variable es de tipo <class 'bool'>

In [10]:
x = False
print("El valor es ", x ," la variable es de tipo", type(x))

El valor es  False  la variable es de tipo <class 'bool'>

**TIPO DE CONJUNTOS**

In [11]:
nom = 'Angie','Katherin','Sofia'
paises = 'Colombia', 'Mexico', 'Brasil'
print( nom, paises)

('Angie', 'Katherin', 'Sofia') ('Colombia', 'Mexico', 'Brasil')

In [12]:
ropa = 'Falda','Camisas','Corbata'
talla = 's', 'xs', 'xl'
print( ropa, talla)

('Falda', 'Camisas', 'Corbata') ('s', 'xs', 'xl')

**TIPO DE LISTAS**

In [13]:
obj = ['carro','moto','cama','avion','celular','computador','tiquet','tetero','cobija']
print(obj)
x = obj[1]
x = obj [0:2]  
print(x)

['carro', 'moto', 'cama', 'avion', 'celular', 'computador', 'tiquet', 'tetero', 'cobija']
['carro', 'moto']

In [14]:
edades = ['10','85','60','15','16','5','65','60','35']
print(edades)
x = edades [1]
x = edades [0:2]  
print(x)

['10', '85', '60', '15', '16', '5', '65', '60', '35']
['10', '85']

**TIPO TUPLAS**

In [15]:
tupla = "caracol", "perro" , "gato"
print(tupla)

('caracol', 'perro', 'gato')

In [17]:
tupla = "caracol", "perro" , "gato"

tupla2 = tupla, ("lento","mascota","felino")
print(tupla2)

(('caracol', 'perro', 'gato'), ('lento', 'mascota', 'felino'))

**TIPO DE DICCIONARIOS**

In [20]:
datos ={
    "nombre":"johan",
    "apellido":"gomez",
    "Cedula": "2345671",
    "hijos": "3",
    
}
print("ID del diccionario", datos.keys())
print("ID del diccionario", datos.values())
print("ID del diccionario", datos.items())
print("hijos:", datos['hijos'])

ID del diccionario dict_keys(['nombre', 'apellido', 'Cedula', 'hijos'])
ID del diccionario dict_values(['johan', 'gomez', '2345671', '3'])
ID del diccionario dict_items([('nombre', 'johan'), ('apellido', 'gomez'), ('Cedula', '2345671'), ('hijos', '3')])
hijos: 3