<a href="https://colab.research.google.com/github/AngieCat26/MujeresDigitales/blob/main/proyecto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
from matplotlib import pyplot as plt

url = "https://raw.githubusercontent.com/AngieCat26/MujeresDigitales/main/TCM.csv"

df = pd.read_csv(url)
df

                                                   Fecha         TRM
0                                             27/11/1991    $ 693.32
1                                             28/11/1991    $ 693.99
2                                             29/11/1991    $ 694.70
3                                             30/11/1991    $ 694.70
4                                             01/12/1991    $ 643.42
...                                                  ...         ...
10939                                         08/11/2021  $ 3,881.76
10940                                                NaN         NaN
10941  Fuente: Superintendencia Financiera de Colombi...         NaN
10942                                                NaN         NaN
10943   Banco de la República - Gerencia Técnica - in...         NaN

[10944 rows x 2 columns]

In [18]:
df = df.groupby(["TRM"]).size().reset_index(name = "Numero de Cambios")
df.sample(10)

KeyError: ignored

In [5]:
df.sample(10)

           Fecha         TRM
928   12/06/1994    $ 833.19
944   28/06/1994    $ 820.13
9584  22/02/2018  $ 2,877.94
2013  01/06/1997  $ 1,077.09
172   17/05/1992    $ 663.58
3587  22/09/2001  $ 2,342.18
6346  12/04/2009  $ 2,388.11
2233  07/01/1998  $ 1,318.57
7094  30/04/2011  $ 1,768.19
3085  08/05/2000  $ 2,033.17

In [6]:
df.describe()

             Fecha         TRM
count        10942       10940
unique       10942        7017
top     16/11/1998  $ 1,907.06
freq             1           9

In [14]:

serie = grupo.value_counts()
serie.plot.pie()

NameError: ignored