<a href="https://colab.research.google.com/github/AngieCat26/MujeresDigitales/blob/main/Taller_semana_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Taller semana 3

## Ejercicio 1:

Cargue los datos del archivo ```pokemon_data.csv``` a un dataframe, cree una columna que se llame interes asignándole el valor False, luego cambie el valor de esta columna solo para los pokemon que sean legendarios (Legendary = True) y que el Type 1 sea fuego.

# Nueva sección

In [1]:
import pandas as pd

In [3]:
# Escriba su código aquí
url = 'https://raw.githubusercontent.com/AngieCat26/MujeresDigitales/main/pokemon_data.csv'
pk = pd.read_csv(url)
pk[ 'interes'] = False

pk.loc[pk["Legendary"] == "True", "interes"] == True
pk.loc[pk["Type 1"] == "Fire", "interes"] == True

pk

       #                   Name   Type 1  ... Generation  Legendary  interes
0      1              Bulbasaur    Grass  ...          1      False    False
1      2                Ivysaur    Grass  ...          1      False    False
2      3               Venusaur    Grass  ...          1      False    False
3      3  VenusaurMega Venusaur    Grass  ...          1      False    False
4      4             Charmander     Fire  ...          1      False    False
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True    False
796  719    DiancieMega Diancie     Rock  ...          6       True    False
797  720    HoopaHoopa Confined  Psychic  ...          6       True    False
798  720     HoopaHoopa Unbound  Psychic  ...          6       True    False
799  721              Volcanion     Fire  ...          6       True    False

[800 rows x 13 columns]

# Nueva sección

## Ejercicio 2

Con los datos de pokemones anteriores, escriba un código para sacar el promedio de la columna Attack agrupado por Type 1.

In [18]:
# Escriba su código aquí
import pandas as pd
url = 'https://raw.githubusercontent.com/AngieCat26/MujeresDigitales/main/pokemon_data.csv'
pk = pd.read_csv(url)

print(pk['Type 1'])
print("el promedio de Attack es: ", pk['Attack'].mean())

0        Grass
1        Grass
2        Grass
3        Grass
4         Fire
        ...
795       Rock
796       Rock
797    Psychic
798    Psychic
799       Fire
Name: Type 1, Length: 800, dtype: object
el promedio de Attack es:  79.00125

## Ejercicio 3

Se le entregan los datos de movimientos de acciones en el archivo ```DUK.csv```, y se le pide que entregue el promedio de Open del 2015, es decir entre las fechas 2015-01-01 y 2015-12-31

In [ ]:
# Escriba su código aquí