<a href="https://colab.research.google.com/github/AngieCat26/MujeresDigitales/blob/main/Taller_semana_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Taller semana 3

## Ejercicio 1:

Cargue los datos del archivo ```pokemon_data.csv``` a un dataframe, cree una columna que se llame interes asignándole el valor False, luego cambie el valor de esta columna solo para los pokemon que sean legendarios (Legendary = True) y que el Type 1 sea fuego.

# Nueva sección

In [1]:
import pandas as pd

In [3]:
# Escriba su código aquí
url = 'https://raw.githubusercontent.com/AngieCat26/MujeresDigitales/main/pokemon_data.csv'
pk = pd.read_csv(url)
pk[ 'interes'] = False

pk.loc[pk["Legendary"] == "True", "interes"] == True
pk.loc[pk["Type 1"] == "Fire", "interes"] == True

pk

       #                   Name   Type 1  ... Generation  Legendary  interes
0      1              Bulbasaur    Grass  ...          1      False    False
1      2                Ivysaur    Grass  ...          1      False    False
2      3               Venusaur    Grass  ...          1      False    False
3      3  VenusaurMega Venusaur    Grass  ...          1      False    False
4      4             Charmander     Fire  ...          1      False    False
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True    False
796  719    DiancieMega Diancie     Rock  ...          6       True    False
797  720    HoopaHoopa Confined  Psychic  ...          6       True    False
798  720     HoopaHoopa Unbound  Psychic  ...          6       True    False
799  721              Volcanion     Fire  ...          6       True    False

[800 rows x 13 columns]

# Nueva sección

## Ejercicio 2

Con los datos de pokemones anteriores, escriba un código para sacar el promedio de la columna Attack agrupado por Type 1.

In [13]:
# Escriba su código aquí
import pandas as pd
url = 'https://raw.githubusercontent.com/AngieCat26/MujeresDigitales/main/pokemon_data.csv'
pk = pd.read_csv(url)

print(pk['Type 1'])
pk.groupby(['Type 1'])
print("el promedio de Attack es: ", pk['Attack'].mean())

pk

0        Grass
1        Grass
2        Grass
3        Grass
4         Fire
        ...
795       Rock
796       Rock
797    Psychic
798    Psychic
799       Fire
Name: Type 1, Length: 800, dtype: object
el promedio de Attack es:  79.00125

       #                   Name   Type 1  ... Speed  Generation  Legendary
0      1              Bulbasaur    Grass  ...    45           1      False
1      2                Ivysaur    Grass  ...    60           1      False
2      3               Venusaur    Grass  ...    80           1      False
3      3  VenusaurMega Venusaur    Grass  ...    80           1      False
4      4             Charmander     Fire  ...    65           1      False
..   ...                    ...      ...  ...   ...         ...        ...
795  719                Diancie     Rock  ...    50           6       True
796  719    DiancieMega Diancie     Rock  ...   110           6       True
797  720    HoopaHoopa Confined  Psychic  ...    70           6       True
798  720     HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721              Volcanion     Fire  ...    70           6       True

[800 rows x 12 columns]

## Ejercicio 3

Se le entregan los datos de movimientos de acciones en el archivo ```DUK.csv```, y se le pide que entregue el promedio de Open del 2015, es decir entre las fechas 2015-01-01 y 2015-12-31

In [14]:
# Escriba su código aquí
import pandas as pd
url = 'https://raw.githubusercontent.com/AngieCat26/MujeresDigitales/main/DUK%20(1).csv'
duk = pd.read_csv(url)

duk.groupby(['Date']).mean()

                 Open       High        Low      Close  Adj Close   Volume
Date
2014-07-28  73.309998  74.480003  73.230003  74.389999  59.266285  3281100
2014-07-29  74.400002  74.480003  73.760002  73.980003  58.939648  2236300
2014-07-30  74.029999  74.199997  72.580002  73.050003  58.198696  2782200
2014-07-31  72.610001  73.099998  72.059998  72.129997  57.465740  3249000
2014-08-01  72.239998  73.370003  72.150002  72.940002  58.111061  3960200
...               ...        ...        ...        ...        ...      ...
2019-07-22  88.599998  88.690002  87.839996  88.150002  88.150002  2160300
2019-07-23  88.180000  88.239998  87.370003  87.680000  87.680000  3141800
2019-07-24  87.949997  87.980003  86.800003  87.180000  87.180000  2386500
2019-07-25  86.900002  87.389999  86.169998  86.489998  86.489998  2680300
2019-07-26  86.500000  87.080002  86.269997  86.910004  86.910004  2425200

[1259 rows x 6 columns]