<a href="https://colab.research.google.com/github/AngieCat26/MujeresDigitales/blob/main/Taller_semana_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Taller semana 3

## Ejercicio 1:

Cargue los datos del archivo ```pokemon_data.csv``` a un dataframe, cree una columna que se llame interes asignándole el valor False, luego cambie el valor de esta columna solo para los pokemon que sean legendarios (Legendary = True) y que el Type 1 sea fuego.

# Nueva sección

In [1]:
import pandas as pd

In [3]:
# Escriba su código aquí
url = 'https://raw.githubusercontent.com/AngieCat26/MujeresDigitales/main/pokemon_data.csv'
pk = pd.read_csv(url)
pk[ 'interes'] = False

pk.loc[pk["Legendary"] == "True", "interes"] == True
pk.loc[pk["Type 1"] == "Fire", "interes"] == True

pk

       #                   Name   Type 1  ... Generation  Legendary  interes
0      1              Bulbasaur    Grass  ...          1      False    False
1      2                Ivysaur    Grass  ...          1      False    False
2      3               Venusaur    Grass  ...          1      False    False
3      3  VenusaurMega Venusaur    Grass  ...          1      False    False
4      4             Charmander     Fire  ...          1      False    False
..   ...                    ...      ...  ...        ...        ...      ...
795  719                Diancie     Rock  ...          6       True    False
796  719    DiancieMega Diancie     Rock  ...          6       True    False
797  720    HoopaHoopa Confined  Psychic  ...          6       True    False
798  720     HoopaHoopa Unbound  Psychic  ...          6       True    False
799  721              Volcanion     Fire  ...          6       True    False

[800 rows x 13 columns]

# Nueva sección

## Ejercicio 2

Con los datos de pokemones anteriores, escriba un código para sacar el promedio de la columna Attack agrupado por Type 1.

In [18]:
# Escriba su código aquí
import pandas as pd
url = 'https://raw.githubusercontent.com/AngieCat26/MujeresDigitales/main/pokemon_data.csv'
pk = pd.read_csv(url)

print(pk['Type 1'])
print("el promedio de Attack es: ", pk['Attack'].mean())

0        Grass
1        Grass
2        Grass
3        Grass
4         Fire
        ...
795       Rock
796       Rock
797    Psychic
798    Psychic
799       Fire
Name: Type 1, Length: 800, dtype: object
el promedio de Attack es:  79.00125

## Ejercicio 3

Se le entregan los datos de movimientos de acciones en el archivo ```DUK.csv```, y se le pide que entregue el promedio de Open del 2015, es decir entre las fechas 2015-01-01 y 2015-12-31

In [30]:
# Escriba su código aquí
import pandas as pd
url = 'https://raw.githubusercontent.com/AngieCat26/MujeresDigitales/main/DUK%20(1).csv'
duk = pd.read_csv(url)

duk.groupby(['Open']).mean()

                High        Low      Close  Adj Close     Volume
Open
66.040001  66.730003  65.500000  66.230003  56.953281  3960300.0
66.139999  67.300003  65.820000  67.199997  57.787411  3856600.0
66.489998  67.099998  66.300003  67.040001  57.649818  2711300.0
66.800003  68.559998  66.769997  68.500000  58.905315  4328100.0
66.889999  67.750000  66.760002  67.730003  58.243172  2782100.0
...              ...        ...        ...        ...        ...
90.860001  90.910004  89.730003  90.059998  89.097557  3977000.0
90.900002  91.129997  90.449997  90.769997  89.799965  3350900.0
91.000000  91.325001  88.909999  89.419998  87.548546  4589600.0
91.379997  91.800003  90.419998  90.580002  83.879967  3304400.0
91.589996  91.629997  90.230003  90.480003  89.513069  3592200.0

[926 rows x 5 columns]